:root {
	--color-accent: #ffa55c;
	--color-accent-2: #ceaad0;
	--color-bg: #ffe0cb;
	--color-bg-light: #fff9f4;
	--color-title-text: #1f1711;
	--color-general-text: #312c27;
	--color-violet: #704174;
	--color-disabled: #e1d9e1;
	--color-inputs: #ac907a;
  --transition:all .4s;
  --border-radius: 20px;
}

.body{
  line-height: 1.5;
  color: var(--color-general-text);
  font-family: "Montserrat", "Arial",sans-serif;
  background: var(--color-bg-light);
}
.body--opened-menu{
  overflow: hidden;
}
.wrapper{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}
.main__about{
  padding: 140px 0;
}
.main__program {
  padding-bottom: 145px;
}
.container{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
.title{
  font-family: "Gabriola", sans-serif;
  font-size: 74px;
  line-height: 0.82;
  color: var(--color-title-text);
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  background: var(--color-accent);
  border-radius: 60px;
  padding: 3px 15px;
  height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:var(--transition);
}
.button:hover{
  background: #ff9138;
}
/* ========================modal window======================== */
.modal {
  display: flex;
align-items: center;
justify-content: center;
position: fixed;
padding: 15px;
inset: 0;
z-index: 10;
background: #00000070;
opacity: 0;
visibility: hidden;
transition: all .7s;
}
.body--modal-opened{
  overflow: hidden;
}
.body--modal-opened .modal{
  opacity: 1;
  visibility: visible; 
}
.modal__window {
  max-width: 428px;
  position: relative;
  background: var(--color-bg-light);
  border-radius: var(--border-radius);
  padding: 0 60px 60px;
}
.modal__cancel {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal__cancel path,
.modal__cancel rect{
  transition: var(--transition);
}
.modal__cancel:hover path,
.modal__cancel:hover rect{
  stroke: var(--color-inputs);
}
.modal__cancel svg{
  pointer-events: none;
}
.modal__img {
  margin:-65px 0 15px 12px;
  max-width: 100%;
}
.modal__title {
  font-family: "Gabriola", sans-serif;
  font-size: 42px; 
  line-height: 0.9;
  color: var(--color-title-text);
  margin-bottom: 10px;
}
.modal__text {
  margin-bottom: 30px;
}
.modal__form {
}
.modal__form-label{
  margin-bottom: 10px;
}
.field{
  display: block;
  position: relative;
}
.field span{
position: absolute;
top: 12px;
left: 28px;
font-size: 11px;
color: var(--color-inputs);
opacity: 0;
visibility: hidden;
transition: var(--transition);
}
.field__input {
  display: block;
  width: 100%;
  background: transparent;
  border: 1px solid var(--color-inputs);
  border-radius: 100px;
  padding: 19px 41px 19px 28px;
  font-size: 16px;
  transition: var(--transition);
}
.field__input:focus{
  padding: 26px 41px 12px 28px;
  color: var(--color-general-text);
}
.field__input:focus + span{
  opacity: 1;
  visibility: visible;
}
.field__input:hover{
  border: 1px solid var(--color-accent);
}
.field__input::placeholder{
  color: var(--color-inputs);
  transition: var(--transition);
}
.field__input:hover::placeholder{
  color: var(--color-accent);
}
/* ===========================header__top============================ */

.header__top {
  padding: 19px 0 0 0 0;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo{
  display: block;
  width: 100%;
  max-width: 174px;
  height: auto;
  z-index: 11;
}
.header__logo img{
  width: 100%;
}
.nav__list {
  display: flex;
  gap:4vh 40px;
}
.nav__link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}
.nav__link::before{
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  width: 34px;
  height: 34px;
  z-index: -1;
  background: var(--color-accent);
  border-radius: var(--border-radius);
  opacity: 0;
  transition: var(--transition);
}
.nav__link:hover::before{
  opacity: 1;
}
.burger-icon{
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
  }
  .burger-icon span,
  .burger-icon span::before,
  .burger-icon span::after{
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--color-general-text);
    transition: var(--transition);
  }
  .burger-icon span{
    position: relative;
  }
  .burger-icon span::before ,
  .burger-icon span::after{
    position: absolute;
    content: '';
  }
  .burger-icon span::before{
    top: -8px;
  }
  .burger-icon span::after{
    bottom: -8px;
  }
  .body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
  }
  .body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
  }
  .body--opened-menu .burger-icon span{
    background: transparent;
  }
/* =========================hero section======================== */
.header{
  background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}
.header__hero {
  padding: 50px 0 140px;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}
.hero__content {
  max-width: 519px;
}
.hero__info {
  margin-bottom: 20px;
line-height: 1.6;
text-transform: uppercase;
color: #b197b2;
display: flex;
flex-wrap: wrap;
}
.hero__info span {
display: flex;
align-items: center;
}
.hero__info span::after {
  content: '';
  border-radius: 50%;
  background: #b197b2;
  width: 4px;
  height: 4px;
  display: block;
  margin: 0 10px;
}
.hero__info span:last-child::after {
  content: none;
}
.hero__title {
margin-bottom: 30px;
}
.hero__text {
  max-width: 358px;
  margin-bottom: 40px;
}
.hero__button{
  max-width: 358px;
  width: 100%;
}
.hero__img {
  position: relative;
  margin-right: 247px;
}
.hero__img>img{
  width: 100%;
}
.hero__img-control {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 200px;
  bottom: 11%;
  left: calc(100% - 39px );
}
.hero__img-control--mobile{
  display: none;
  text-align: left;
}
.hero__img-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: var(--color-bg);
  box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
  transition: var(--transition);
  outline: 1px solid transparent;
  outline-offset: -5px; 
}
.hero__img-button:hover{
outline-color: var(--color-accent);
}
.hero__img-button img{
  padding-left: 8.8%;
}
/* ========================section about======================== */
.about {
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.03fr;
  grid-template-rows: repeat(2, auto);
  gap: 40px 53px;
}
.about__img{
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  grid-row: 1 / -1;
}
.about__img>img {
  width: 100%;
  height: 100%;
  max-width: 603px;
  object-fit: cover;
  object-position: 0% 50%;
}
.about__img-control {
  color: var(--color-bg-light);
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 299px;
  bottom: 4.528%;
  left: 4.89%;
  background: #957b97e6;
  border-radius: var(--border-radius);
  padding: 15px 20px;
}
.about__img-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: var(--color-bg-light);
  transition: var(--transition);
  outline: 1px solid transparent;
  outline-offset: -5px; 
}
.about__img-button:hover{
  outline-color: var(--color-accent-2);
}

.about__subtitle {
margin-bottom: 30px;
}
.about__text {

}
.about__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1.05fr;
}
.about__grid-item {
  background: var(--color-bg);
  border-radius: var(--border-radius);
  padding: 29px 22.9px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.about__grid-img {
  border: 1px solid var(--color-general-text);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__grid-text {
  
}
/* =======================section program======================= */
.program {
}
.program__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}
.program__heading {
}
.program__title {
  margin-bottom: 20px;
}
.program__text {
}
.tab-controls {
  display: flex;
  gap: 26px;
}
.tab-control__item {
}
.tab-control__link {
  display: block;
  padding: 14px 30px;
  border-radius: 100px;
  background: var(--color-bg-light);
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
  transition: var(--transition);
}
.tab-control__link:hover{
  background: var(--color-bg);
}
.tab-control__link--active{
  background: var(--color-bg);
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}
.tab-content {
  display: none;
}
.tab-content--show{
  display: block;
}

.accordion__list {
}
.accordion__list-item {
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius);
  margin-bottom: 30px;
}
.accordion__list-item:last-child{
  margin-bottom: 0;
}
.accordion__list-item--opened {
}
.accordion-list__control {
  padding: 41px 30px;
  width: 100%;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Gabriola", sans-serif;
  font-size: 42px;
  line-height: .9;
  color: var(--color-title-text);
}
.accordion-list__control-title {

}
.accordion-list__control-icon {
  border: 1.5px solid var(--color-accent);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  transition: var(--transition);
}
.accordion-list__control-icon svg{
  margin-left: 2px;
}
.accordion-list__control-icon path{
  transition: var(--transition);
}
.accordion-list__control:hover .accordion-list__control-icon{
  background: var(--color-accent);
  transform: rotate(90deg);
}
.accordion-list__control:hover .accordion-list__control-icon path{
  fill: var(--color-bg-light);
}
.accordion-list__item--opened .accordion-list__control-icon{
  background: var(--color-accent);
  transform: rotate(90deg);
}
.accordion-list__item--opened .accordion-list__control-icon path{
  fill: var(--color-bg-light);
}
.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}
/* контент аккордиона */
.accordion-content {
  padding: 0 30px 40px;
  display: flex;
  gap: 80px;
}
.accordion-content-col:first-child {
  max-width: 507px;
  width: 100%;
}

.accordion-content__title {
line-height: 1.6;
text-transform: uppercase;
color: var(--color-accent-2);
margin-bottom: 20px;
}
.accordion-content__list {

}
.accordion-content__item {
  margin-bottom: 20px;
  display: flex;
}
.accordion-content__item:last-child{
  margin-bottom: 0;
}
.accordion-content__icon {
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-accent-2);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex-shrink: 0;
}
.accordion-content__text {
  max-width: 274px;
}
/* ===========================footer=========================== */
.footer {
  background: #ab8261;
  padding: 60px;
  color: var(--color-bg-light);
}
.footer__inner {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1fr auto;
  gap: 40px 15px;
}
.footer__col:first-child {
margin-top: -30px;
}
.footer__logo {
  display: block;
  max-width: 241px;
}
.footer__logo img{
  width: 100%;
}
.footer__logo-text {
  margin-bottom: 20px;
}
.socials__list {
  display: flex;
  gap: 15px;
}
.socials__link {
  display: flex;
}
.socials__link path{
  transition: var(--transition);
}
.socials__link:hover path{
  fill: var(--color-accent);
}
.footer__col-list {
margin-top: -5px;
}
.footer__col-item {
  margin-bottom: 10px;
}
.footer__col-item:last-child{
  margin-bottom: 0;
}
.footer__col-link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}
.footer__col-link::before{
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  width: 34px;
  height: 34px;
  z-index: -1;
  background: var(--color-accent);
  border-radius: 50%;
  opacity: 0;
  transition: var(--transition);
}
.footer__col-link:hover::before{
  opacity: 1;
}
.footer__contact-item{
  margin-bottom: 10px;
}
.footer__contact-item:last-child{
  margin-bottom: 0;
}
.footer__contact-item img {
  margin-right: 8px;
}
.footer__col-number {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
  text-transform: uppercase;
  transition: var(--transition);
}
.footer__col-number:hover{
  color: var(--color-accent);
}
.footer__col-copy {
  margin-top: 47px;
  color: #dec5b1;
}
.footer__col-copy img{
  margin-right: 5px;
}



/* ==========================media========================== */
/* ========================================================= */
/* ========================================================= */
@media (max-width:1200px){
  .hero__img{
    margin:0;
    max-width: 377px;
  }
  .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 30px;
  }
  /* ---------------------------------- */
  .footer__inner{
    justify-content: space-between;
    grid-template: repeat(2,auto) / repeat(3,auto);
  }
  .footer__col:last-child{
    grid-column: 1 / -1;
    text-align: center;
  }
}
@media (max-width:1100px){
  .about__body{
    align-self: center;
  }
  .about__img{
    grid-row: auto;
  }
  .about__grid{
    grid-column: 1 / -1;
  }
}
@media (max-width:900px) {
  .nav{
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--color-disabled);
    padding: 20vh 15px 30px;
    font-size: 24px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }
  .nav__list{
    flex-direction: column;
    align-items: center;
  }
  .body--opened-menu .nav{
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
  .burger-icon{
    display: flex;
  }
  /* ------------------------------------------------ */
  .footer__inner{
    justify-content: center;
    grid-template: none;
    text-align: center;
    gap: 0;
  }
  .footer__col:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .footer__col:nth-child(2){
    margin-bottom: 40px;
  }
  .footer__col:nth-child(3){
    margin-bottom: 10px;
  }
}
@media (max-width:800px){
  .hero__content{
    max-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero__img{
    display: none;
  }
  .hero__img-control--mobile{
    display: flex;
    margin: 0 0 30px;
  }
  /* ------------------------------------- */
  .about__inner{
    grid-template: none;
  }
  .about__body{
    text-align: center;
  }
  .about__img{
    max-width: 500px;
    justify-self: center;
  }
  /* -------------------------------- */
}
@media (max-width:600px){
  .main__about{
    padding: 60px 0 80px;
  }
  /* ------------------------------------------- */
  .header__hero{
    padding-bottom: 80px;
  }
  .title{
    font-size: 12vw;
  }
  /* ----------------------------------------- */
  .about__img-control{
    bottom: 0;
    left: 0;
    right: 0;
    max-width: none;
    border-radius: 0;
    padding-inline-start: 10px 15px;

  }
  .about__grid{
    gap: 15px;
    grid-template: none;
  }
  .about__grid-item{
    padding: 10px 15px;
  }
}
@media (max-width:450px){
  .modal__img{
    width: 50%;
    margin-top: -45px;
  }
  .modal__title{
    font-size: 37px;
  }
  .modal__window{
    padding:0 15px 20px;
    text-align: center;
  }
}