:root {
  --white-color: #ffffff;
  --light-blue: #0B63F6;
  --darkblue: #003CC5;
  --modal-bg: #000000c1;
  --modal-active-color:#6b7fa3a8;
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
}
.container{
  max-width: 1470px;
  margin: 0 auto;
  padding: 50px 15px;
}
body{
  background: grey;
}
.body--fixed{
  overflow-y: hidden;
}
/* ============================ */
.btn-open {
  max-width: 200px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: var(--white-color);
  background: var(--light-blue);
  box-shadow: 0 5px 0 var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
.btn-open:hover{
  background: var(--darkblue);
  box-shadow: none;
  position: relative;
  top: 5px;
}
.btn-open:focus-visible{
  outline: none;
}
.active{
  background: #108b00;
  box-shadow: none;
  position: relative;
  top: 5px;
}
.modal {
  display: flex;
align-items: center;
justify-content: center;
position: fixed;
inset: 0;
z-index: 2;
background: #000000c1;
opacity: 0;
visibility: hidden;
transition: all .7s;
}
.modal__window {
  color: var(--white-color);
  position: relative;
  width: 50vw;
  min-height: 40vh;
  padding: 50px 20px 20px;
  background-color: var(--modal-active-color);
  border-radius: 12px;
}
.modal__close-btn {
  color: var(--white-color);
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
.modal--open{
  display: flex;
  opacity: 1;
  visibility: visible;
}
/* =================== */
