:root {
	--color-accent: #ffa55c;
	--color-accent-2: #ceaad0;
	--color-bg: #ffe0cb;
	--color-bg-light: #fff9f4;
	--color-title-text: #1f1711;
	--color-general-text: #312c27;
	--color-violet: #704174;
	--color-disabled: #e1d9e1;
	--color-inputs: #ac907a;
}

body{
  line-height: 1.5;
  color: var(--color-general-text);
  font-family: "Montserrat", "Arial",sans-serif;
  background: var(--color-bg-light);
}

.wrapper{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  background: var(--color-accent);
  border-radius: 60px;
  padding: 3px 15px;
  height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:all .4s;
}
.button:hover{
  background: #ff9138;
}
.open{
display: flex !important;
}
/* ===========================header__top============================ */

.header__top {
  padding: 19px 0 0 0 0;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo{
  width: 100%;
  max-width: 174px;
  height: auto;
  z-index: 12;
}
.nav__list {
  display: flex;
  gap: 40px;
}
.nav__link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}
.nav__link::before{
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  width: 34px;
  height: 34px;
  z-index: -1;
  background: var(--color-accent);
  border-radius: 50%;
  opacity: 0;
  transition: .4s;
}
.nav__link:hover::before{
  opacity: 1;
}
/* =========================hero section============================ */
.header{
  background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}
.hero {
  padding: 50px 0 140px;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}
.hero__content {
  max-width: 519px;
}
.hero__info {
  margin-bottom: 20px;
line-height: 1.6;
text-transform: uppercase;
color: #b197b2;
display: flex;
flex-wrap: wrap;
}
.hero__info span {
display: flex;
align-items: center;
}
.hero__info span::after {
  content: '';
  border-radius: 50%;
  background: #b197b2;
  width: 4px;
  height: 4px;
  display: block;
  margin: 0 10px;
}
.hero__info span:last-child::after {
  content: none;
}
.hero__title {
  font-family: "Gabriola", sans-serif;;
font-size: 74px;
line-height: 0.82;
color: var(--color-title-text);
margin-bottom: 30px;
}
.hero__text {
  max-width: 358px;
  margin-bottom: 40px;
}
.hero__button{
  max-width: 358px;
}
.hero__img {
  position: relative;
  margin-right: 247px;
}
.hero__img-control {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 200px;
  bottom: 11%;
  left: calc(100% - 39px );
}
.hero__img-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: var(--color-bg);
  box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
  transition: all .4s;
  outline: 1px solid transparent;
  outline-offset: -5px; 
}
.hero__img-button:hover{
outline-color: var(--color-accent);
}

.hero__img-button img{
  padding-left: 8.8%;
}
/* ===================header media============================= */
.burger{
  display: none;
  position: relative;
  z-index: 11;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 18px;
}
.burger span{
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: var(--color-general-text);
}
.burger::before,.burger::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--color-general-text);
  transition: all .4s ease 0s;
}
.burger::before{
  top: 0;
}
.burger::after{
  bottom: 0;
}
.burger.active span{
  transform: scale(0);
}
.burger.active::after{
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.burger.active::before{
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media (max-width:900px) {
  .header__top-inner{
    align-items: center;
  }
  .burger{
    display: flex;
    margin-top: 25px;
  }
  .nav{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;right: 0;bottom: 0;left: 0;
    z-index: 11;
    overflow: hidden;
    padding: 50px 40px;
    background-color: var(--color-disabled);
    animation: burger-animation .4s;
  }
  .nav__list{
    flex-direction: column;
    row-gap: 30px;
    padding-top: 5vh;
  }
  @keyframes burger-animation {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}
