:root{
--color-dark-blue:#02033b;
--color-light-blue:#4335de;
--color-yellow:#FFC247;
--color-white-bg:#f3f8ff;
--color-white:#fff;
--button-dorder-radius:42px;
}
.body{
  font-size: 19px;
  line-height: 1.5;
  color: var(--color-dark-blue);
  font-family: "Inter",sans-serif;
  background: var(--color-white-bg);
}
.wrapper{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container{
  max-width: 1086px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
.main__testimonials,
.main__about{
  padding: 84px 0;
}
.header__container{
  max-width: 1230px;
}
.main{
  flex-grow: 1;
}

.button {
  border-radius: var(--button-dorder-radius);
  padding: 16px 20px;
  font-weight: 800;
  transition: all .4s;
  white-space: nowrap;
}
.button:hover{
  animation: flip 1s ;
}
@keyframes flip {
  0% {
    box-shadow: 0 0 10px 0px tomato, 0 0 10px 0px tomato; 
  }
  100% {
    box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 20px rgba(255, 48, 26, 0); 
  } 
}
.title {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}