@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";

/* ========================================================== */
.testimonials {
  background: linear-gradient(180deg, #f7c95f 0%, #fdb235 100%);
}
.testimonials__container {
  max-width: 1278px;
}
.testimonials__title {
  margin-bottom: 72px;
  max-width: 563px;
}
.testimonials__slider {
  margin-bottom: 72px;
}
.testimonials__wrapper {
  align-items: stretch;
  transition-timing-function: linear;
}
.testimonials__slide {
  display: flex;
  flex-direction: column;
  gap: 24px;

  background: var(--color-white);
  border-radius: 48px;
  padding: 36px;
  height: auto;
}
.testimonials__rate {
  display: flex;
  gap: 7px;
  padding: 2.5px;
}
.testimonials__rate img{
  width: 100%;
}
.testimonials__rate li{
  line-height: 0;
}
.testimonials__quote {
font-size: 16px;
line-height: 1.25;
max-width: 323px;
}
.testimonials__author {
  font-weight: 800;
  font-size: 15px;
  line-height: 1.33;
}
.testimonials__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__text {
font-weight: 800;
font-size: 23px;
line-height: 1.3;
letter-spacing: -0.02em;
}
.testimonials__sponsors {
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 0 42.88px;
}
.testimonials__img {
}
.testimonials__img img{
  max-width: 100%;
  height: auto;
}
/* =======================section about======================= */
.about {
}
.main__about {
}
.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.about__content {
  max-width: 448px;
}
.about__title {
  margin-bottom: 43px;
}

.about__text {
font-size: 20px;
margin-bottom: 76px;
}
.about__btn-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__img {
}
.about__img img{
  width: 100%;
}
/* =======================section services==================== */
.services {
}
.container {
}
.services__inner {
  padding: 84px 108px;
  text-align: center;
}
.services__title {
  margin: 0 auto;
  text-align: center;
  max-width: 739px;
  margin-bottom: 72px;
}
.services__content{
  box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.1);
  background: var(--color-white);
  border-radius: var(--button-dorder-radius);
  padding:72px;
}
.services__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap:72px 48px;
}
.services__grid-item {
  
}
.services__grid-item p{
  font-size: 16px;
  max-width: 198px;
  line-height: 1.5;
}
.services__grid-item:nth-child(5) p{
  font-size: 15px;
}
.services__grid-title {
  font-weight: 800;
  font-size: 19px;
  line-height: 1.32;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 24px 0;
}
.services__btn-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}
/* ----------------swiper при уменьшении экрана---------------- */
.services__slider {
  display: none;
  padding: 30px;
}
.services__slider-wrapper {
}
.services__slider-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
.services__slider-prev,
.services__slider-next {
  cursor: pointer;
}

.services__slider-prev path,
.services__slider-next path {
  stroke: var(--color-dark-blue);
}
.services__slider-prev:hover path,
.services__slider-next:hover path {
  stroke: var(--color-light-blue);
}
.services__slider-prev:active path,
.services__slider-next:active path {
  stroke: var(--color-yellow);
  fill: var(--color-dark-blue);
}
.swiper-button-disabled{
  pointer-events: none;
}
.swiper-button-disabled path{
  stroke-opacity: 0.5;
}
.swiper-button-disabled:hover path{
  stroke: var(--color-dark-blue);
  stroke-opacity: 0.5;
}
.services__slider-slide{
  overflow: hidden;
}

.services__grid-title {
}
.services__slider-scrollbar{
  position: static;
  margin-top: 30px;
  height: 10px;
  background: #ac822d80;
  border-radius: var(--button-dorder-radius);
}
.swiper-scrollbar-drag{
  background: #02033bd7;
}


/* =======================section help======================= */
.help {
}
.help a{
font-weight: 800;
font-size: 15px;
line-height: 120%;
}

.help__inner {
  padding: 84px 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.help__about {
  background: linear-gradient(180deg, #f7c95f 0%, #fdb235 100%);
  padding: 47px 48px 48px;
  border-radius: var(--button-dorder-radius);
}
.help__about p{
  max-width: 358px;
}
.help__title {
font-weight: 800;
font-size: 23px;
line-height: 1.3;
letter-spacing: -0.02em;
margin-bottom: 25px;
}
.help__subtitle {
font-size: 16px;
margin-bottom: 69.6px;
}
.button--blue svg {
  margin-left: 5px;
}
.button--blue:hover path {
  fill: var(--color-dark-blue);
}
.help__guide {
  padding: 47px 48px 48px;
}
.help__guide p{
  max-width: 196px;
}
/* =====================section products===================== */
.products {
  background: linear-gradient(180deg, #2925cc 0%, #4b48e5 100%);
  color: #fff;
}
.products__inner {
  padding: 84px 246px;
}
.products__title {
  font-weight: 800;
  font-size: 34px;
  line-height: 1.32;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 50px;
}
.products__subtitle {
font-size: 18px;
line-height: 1.67;
text-align: center;
margin-bottom: 60px;
}
.products__btn-box {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}
.products__btn-box a:hover{
  background-color: var(--color-white);
  color: var(--color-dark-blue);
}
.products__btn-box a:hover path{
  fill: var(--color-dark-blue);
}
.button {
}
.button--transparent {
  padding-right: 25px;
  line-height: 1.18;
  box-shadow: inset 0 0 0 2px #fff;
}
/* ========================================================= */
.footer {
  background: var(--color-dark-blue);
}
.footer__inner {
  color: var(--color-white);
  padding: 96px 0 36px;
  display: flex;
  justify-content: space-between;
}
.footer__links {

}
.footer__links h5{
font-weight: 800;
font-size: 23px;
line-height: 1.3;
margin-bottom: 49px;
}
.footer__socials {
  display: flex;
  gap: 40px;
  margin-bottom: 52px;
}
.footer__socials svg{
  display: block;
}
.footer__socials path{
  transition: all .4s;
}
.footer__socials a:hover path{
  fill: var(--color-yellow);
}
.footer__links-terms {
  display: flex;
  gap: 30px;
  font-size: 11px;
  line-height: 1.36;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-bottom: 50px;
  transition: all .4s;
}
.footer__links-terms a:hover{
  color: var(--color-yellow);
  text-decoration: underline var(--color-yellow);
}
.footer__links-copy {
  max-width: 306px;
  font-size: 11px;
  line-height: 1.36;
}
.footer__links-copy p:first-child{
  margin-bottom: 18px;
}
.footer__links-copy a{
  display: inline-block;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: all .4s;
}
.footer__links-copy a:hover{
  color: var(--color-yellow);
}
/* меню */
.footer__menu {
}
.footer__title {
  border-bottom: 1px solid #fff;
  padding-bottom: 25px;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.29;
  margin-bottom: 60px;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  color: var(--color-yellow);
  gap: 24px;
}
.footer__menu-item {
font-weight: 800;
line-height: 1.32;
letter-spacing: -0.02em;
}
.footer__menu-item span {
  margin-right: 24px;
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 2px;
  background: var(--color-yellow);
}
.footer__menu-item a{
  transition: all .4s;
}
.footer__menu-item a:hover{
  color: var(--color-white);
}
.footer__menu-item a:hover span{
  background: var(--color-white);
}
/* форма */
.footer__form {
  background: url(../img/decor/form-icon.png) center no-repeat , var(--color-yellow) ;
  padding: 35px 36px 36px;
  border-radius: var(--button-dorder-radius);
  align-self: flex-start;
}
.footer__form-text {
  color: var(--color-dark-blue);
  margin-bottom: 36px;
}
.footer__form-text h5{
font-weight: 800;
font-size: 23px;
line-height: 1.3;
letter-spacing: -0.02em;
margin-bottom: 21px;
}
.footer__form-text p{
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.33;
  max-width: 358px;
}
.input-group {
  display: flex;
}
.input-group__input {
  border-radius: 21px 0 0 21px;
  background: var(--color-white);
  padding: 8px 16px 8.39px;
  flex: 1;
}
.input-group__input::placeholder{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: rgba(2, 3, 59, 0.5);
}
.footer__btn-submit {
  padding: 8px 27px 8.39px ;
  border-radius: 0 21px 21px 0;
  background: var(--color-dark-blue);
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 15px;
  line-height: 1.23;
  text-align: center;
  transition: all .4s;
}
.footer__btn-submit:hover{
background: var(--color-light-blue);
}
.footer__bottom-block {
  border-radius: 12px;
  width: 100%;
  max-width: 315px;
  height: 104px;
  background: var(--color-white);
  margin-left: auto;
}
.footer__license {
font-size: 12px;
line-height: 1.25;
color: var(--color-white);
margin: 48px 0 96px;
max-width: 547px;
}









/* ============================================================= */
/* ============================================================= */
/* ============================================================= */
@media (max-width:1200px) {
  .testimonials__slide {
    gap: 15px;
    padding: 25px;
    }
}
@media (max-width:1100px) {

  /* ----------------- */
  .products__btn-box {
    gap: 10px;
    align-items: center;
    justify-content: center;
    }
/* ------------------------------ */
.services__title {
  margin-bottom: 0;
  }
.services__grid-container{
  display: none;
}
.services__slider {
  display: block;
  }
  .services__btn-box {
  margin-top: 25px;
  }
/* ------------------------------ */
.help__about,
.help__guide {
  padding: 30px;
  }
/* ------------------------------ */
.footer__inner{
  display: grid;
  grid-template-columns: auto 0.1fr 0.7fr;
  grid-template-rows: repeat(2,auto);
  gap: 50px;
}
.footer__links{
  grid-row: 2/-1;
}
.footer__menu{
  order: 3;
  grid-column: 2/-1;
}
.footer__bottom-block{
  display: none;
}
}
@media (max-width:900px){
  .header,
  .main__about,
  .main__services,
  .main__help{
  border-top: 3px solid var(--color-dark-blue);
  }
  /* ------------------------ */
  .testimonials__inner {
    flex-direction: column;
    gap: 20px;
    }
  .testimonials__title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    }
    .testimonials__sponsors {
      gap: 20px;
      padding: 0 30px;
      }
/* -------------------------------- */

.services__slider-slide.swiper-slide-next{
  opacity: 0.5;
}
.services__slider-slide.swiper-slide-prev{
  opacity: 0.5;
}
/* -------------------------------- */
.help__inner {
  padding: 40px 20px;
  }
/* -------------------------------- */
.products__inner{
  padding: 40px 100px;
}
}
@media (max-width:800px){

  .main__testimonials{
    padding: 40px 0;
  }
  .testimonials__slider {
    margin-bottom: 40px;
    }
    .testimonials__sponsors {
      gap: 15px;
      padding: 0 15px;
  }
  /* ------------------------- */
  .main__about{
    padding: 40px 0;
  }
  .about__inner {
  justify-content: center;
  }
  .about__text {
  margin-bottom: 43px;
  }
      .about__img{
        display: none;
  }
  .about__btn-box {
          align-items: center;
  }
  /* -------------- */
  .services__inner{
  padding: 50px;
}
  .services__slider-slide.swiper-slide-next{
    opacity: 0;
  }
  .services__slider-slide.swiper-slide-prev{
    opacity: 0;
  }
  /* ----------------------------- */
  .help__about {
    flex-basis: 59%;
    }
}

@media (max-width:700px) {
  .testimonials__slide {
    gap: 15px;
    padding: 20px;
    align-items: center;
    }
    .testimonials__rate{
      align-self: center
    }
    .testimonials__author{
      align-self: center;
    }
    .testimonials__sponsors{
      flex-wrap: wrap;
    }
    .testimonials__img{
      flex-basis: calc(33.33% - 10px);
    }
  /* ------------------------------ */
  .products__inner{
    padding: 40px;
  }
  /* ------------------------------ */
  .footer__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__links{
    text-align: center;
  }
  .footer__links h5{
  margin-bottom: 15px;
  }
  .footer__socials{
    margin-bottom: 15px;
    justify-content: center;
  }
  .footer__links-terms{
    margin-bottom: 15px;
    justify-content: center;
  }
  .footer__form{
    align-self: center;
  }
  .footer__title{
    margin-bottom: 30px;
    padding-bottom: 0;
    text-align: center;
  }
  .footer__menu-list{
    gap: 15px;
  }
  }
  @media (max-width:600px){
  /* ---------------------------- */
  .title {
      font-size: 28px;
    }
/* ---------------------------- */
  .testimonials__text {
  display: none;
  }
/* ------------------------------- */
.about__title{
  margin-bottom: 20px;
}
  .about__text {
  margin-bottom: 20px;
  }
  /* ------------------------------ */
  .services__content {
  padding: 20px;
  }
  .services__grid-title {
  margin: 10px 0;
  }
  .services__slider-scrollbar {
  margin-top: 15px;
  }
  .services__slider-nav {
  margin: 10px 0;
  }
  .services__slider {
  padding: 0px;
  }
  /* ------------------------------ */
  .help__about{
    flex-basis: auto;
  }
  .help__guide{
  border: 2px solid;
  border-radius: var(--button-dorder-radius);
  }
  .help__about p,
  .help__guide p{
    max-width: 335px;
  }
    .help__subtitle {
    margin-bottom: 40px;
    }

    .help__inner {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    }
  /* ------------------------------ */
  .products__btn-box {
  flex-wrap: wrap;
  }
  .products__title {
  margin-bottom: 50px;
  margin-bottom: 20px;
  }
  .products__subtitle {
  margin-bottom: 60px;
  margin-bottom: 20px;
  }
  }
  @media (max-width:450px){
  .testimonials__title {
      font-size: 20px;
  }
  /* ---------------------- */
  .about__inner {
      text-align: center;
  }
  .about__title{
      font-size: 22px;
  }
  /* ---------------------- */
  .services__inner {
  padding: 0;
  }
  /* ---------------------- */
  .help__title {
  margin-bottom: 10px;
  }
  .help__subtitle {
  margin-bottom: 30px;
  }
  /* ---------------------- */
  .products__inner {
  padding: 20px;
  }
  .products__title {
  font-size: 23px;
  }
  /* ---------------------- */

    .footer__inner{
      padding-bottom: 0;
      padding-top: 30px;
    }
    .footer__form{
      padding: 20px;
      text-align: center;
    }
    .footer__form-text{
      margin-bottom: 10px;
    }
    .footer__form-text h5{
      margin-bottom: 0;
    }
    .footer__form-text p{
      display: none;
    }
    .input-group__input,
    .footer__btn-submit{
      padding: 5px;
    }
    .footer__links-copy p:first-child{
      margin-bottom: 0;
    }
    .footer__menu-list {
      gap: 10px;
  }
  .footer__title {
    margin-bottom: 15px;
    font-size: 25px;
}
.footer__license{
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
  }